{% load static %}
{% load order_slug %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<title>Django Ecommerce</title>
</head>
<body>
  <div class="my-3">
  <h4> Your Cart </h4>
  </div>
  {% if carts %}
  <div class='container mx-4 my-5 col-5'>
  <table class="table table-hover" style="width:100%">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-center">Product Name</th>
      <th scope="col" class="text-center">Quantity</th>
      <th scope="col" class="text-center">Price</th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody>
    {% for cart in carts %}
    <tr>
       <td>{{ forloop.counter }}</td>
       <td class="text-center">{{ cart.item.name }}</td>
       <td class="text-center">{{ cart.quantity }}</td>
       <td class="text-center">Rs.{{ cart.get_total }}</td>
       <td class="text-center">
        {% if cart.slug|order_slug %}
              <h6>Ordered</h6>
        {% else %}
          <a href="{% url 'pay' cart.slug %}"><button type="button" class="btn btn-primary">Order Now</button></a>
        {% endif %}
      </td>
     </tr>
     {% endfor %}
</table>
</div>
{% else %}
<h4> You don't have any active cart </h4>
{% endif %}
</body>
</html>